flows.json
[
    {
        "id": "cb69e07ed1033f63",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d1baded6b8475eb",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "distancia",
        "qos": "2",
        "datatype": "json",
        "broker": "bd5035c6be6f2a46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "6da2f8e9bd575003",
                "2be2b592790d563f",
                "3cc38ca40c78f65d"
            ]
        ]
    },
    {
        "id": "6da2f8e9bd575003",
        "type": "ui_gauge",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 23,
        "width": "2",
        "height": "3",
        "gtype": "donut",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "74131948b1659792",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "pir",
        "qos": "2",
        "datatype": "json",
        "broker": "bd5035c6be6f2a46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "b76520f9e61543aa",
                "35fbdc6a669ff36b",
                "08c505b304f6bfb2"
            ]
        ]
    },
    {
        "id": "2dc005ce4959b0ee",
        "type": "ui_switch",
        "z": "cb69e07ed1033f63",
        "name": "",
        "label": "Regar maceta 1",
        "tooltip": "",
        "group": "0816e6b02afd5af5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "motor_agua",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1860,
        "y": 540,
        "wires": [
            [
                "c148e4b42add851a"
            ]
        ]
    },
    {
        "id": "c148e4b42add851a",
        "type": "mqtt out",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "esp82iot/bomba",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd5035c6be6f2a46",
        "x": 2120,
        "y": 540,
        "wires": []
    },
    {
        "id": "176bc7eb7b74c599",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "temperatura",
        "qos": "2",
        "datatype": "json",
        "broker": "ae543316542168ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "0b88d9438adaad86",
                "8a664556916e2fd7",
                "3d3e41bb830fd339"
            ]
        ]
    },
    {
        "id": "0b88d9438adaad86",
        "type": "ui_gauge",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 1,
        "width": "2",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "c88e3ff2947e2ccd",
        "type": "ui_gauge",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 2,
        "width": "2",
        "height": "3",
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "f6dd087843fd99c8",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "humedad",
        "qos": "2",
        "datatype": "json",
        "broker": "ae543316542168ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "c88e3ff2947e2ccd",
                "791d980553550108",
                "17fc1daf8395fb94"
            ]
        ]
    },
    {
        "id": "09e84d6cb14f87a1",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "humedadSuelo",
        "qos": "2",
        "datatype": "json",
        "broker": "ae543316542168ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "b4ca4fef4f8a958c",
                "03178388431cccfb",
                "419ea4e090a7d9a4"
            ]
        ]
    },
    {
        "id": "c133d749f2fd8e9a",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "luminosidad",
        "qos": "2",
        "datatype": "json",
        "broker": "bd5035c6be6f2a46",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "1cdf46798927d1c0",
                "d527f109740300f9",
                "870af814b65e95b7"
            ]
        ]
    },
    {
        "id": "8a664556916e2fd7",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 1,
        "width": "4",
        "height": "3",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "791d980553550108",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 2,
        "width": "4",
        "height": "3",
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b76520f9e61543aa",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "0b7f7e36c9b309cf",
        "order": 18,
        "width": "0",
        "height": "0",
        "label": "Habitacion 1 (PIR)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "17539bd3482dd3a9",
        "type": "mqtt out",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "esp82iot/ventilador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd5035c6be6f2a46",
        "x": 2110,
        "y": 480,
        "wires": []
    },
    {
        "id": "6f1bb839adf5c382",
        "type": "ui_switch",
        "z": "cb69e07ed1033f63",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "0816e6b02afd5af5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "esp82iot/ventilador",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1840,
        "y": 480,
        "wires": [
            [
                "17539bd3482dd3a9"
            ]
        ]
    },
    {
        "id": "742e4ff4bfb49b15",
        "type": "mqtt out",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "esp82iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67ad7ca239733d03",
        "x": 2140,
        "y": 600,
        "wires": []
    },
    {
        "id": "58e21b79967b97d6",
        "type": "mqtt out",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "esp82iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67ad7ca239733d03",
        "x": 2140,
        "y": 660,
        "wires": []
    },
    {
        "id": "e32a4f42a1515c34",
        "type": "ui_switch",
        "z": "cb69e07ed1033f63",
        "name": "",
        "label": "Foco de puerta de Entrada",
        "tooltip": "",
        "group": "0816e6b02afd5af5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "redOn",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "redOff",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1900,
        "y": 600,
        "wires": [
            [
                "742e4ff4bfb49b15"
            ]
        ]
    },
    {
        "id": "3ad856ec31a51984",
        "type": "ui_switch",
        "z": "cb69e07ed1033f63",
        "name": "",
        "label": "Foco de Habitación 1",
        "tooltip": "",
        "group": "0816e6b02afd5af5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "greenOn",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "greenOff",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1880,
        "y": 660,
        "wires": [
            [
                "58e21b79967b97d6"
            ]
        ]
    },
    {
        "id": "fe9d97b706f8fa54",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 1",
        "func": "if (msg.payload == 1) {\n    var d = new Date();\n    var provincia = \"Lima\"\n    var distrito = \"SJL\"\n    var sitio = \"Hogar\"\n    var id\n\n    var day = d.getDate()\n    var month = d.getMonth()\n    month = month + 1;\n    var year = d.getFullYear()\n    var hours = d.getHours()\n    var minutes = d.getMinutes()\n    var seconds = d.getSeconds()\n\n    if (day <= 9)\n        day = \"0\" + day;\n    if (month <= 9)\n        month = \"0\" + month;\n    if (hours <= 9)\n        hours = \"0\" + hours;\n    if (minutes <= 9)\n        minutes = \"0\" + minutes;\n    if (seconds <= 9)\n        seconds = \"0\" + seconds;\n\n    var date = day + \"/\" + month + \"/\" + year\n    var time = hours + \":\" + minutes + \":\" + seconds\n\n    msg.payload =\n        \"IoT dispositivo de movimiento\\n\" +\n        \"==========================================\\n\" +\n        \"ACTIVADO, MOVIMIENTO DETECTADO EN HABITACION 1!!!\\n\" +\n        \"==========================================\\n\" +\n        \"Fecha: \" + date + \"\\n\" +\n        \"Hora: \" + time + \"\\n\" +\n        \"Provincia: \" + provincia + \"\\n\" +\n        \"Distrito: \" + distrito + \"\\n\" +\n        \"Sitio: \" + sitio + \"\\n\"\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 720,
        "wires": [
            [
                "5173a0063d6cd1ba"
            ]
        ]
    },
    {
        "id": "5173a0063d6cd1ba",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "cb69e07ed1033f63",
        "name": "WA cliente",
        "account": "990c808eb3798486",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1050,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "35fbdc6a669ff36b",
        "type": "delay",
        "z": "cb69e07ed1033f63",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 680,
        "y": 720,
        "wires": [
            [
                "fe9d97b706f8fa54"
            ]
        ]
    },
    {
        "id": "e10170b42cdba5ca",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "puertaEntrada",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67ad7ca239733d03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "406831e306939e43",
                "7e627a62ba3a986b",
                "191e01f86718530a"
            ]
        ]
    },
    {
        "id": "8b3bb4688b978cb3",
        "type": "mqtt in",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "habitacion1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67ad7ca239733d03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 1240,
        "wires": [
            [
                "2b9cf656b70e1c16",
                "fbb9196b4de4a453",
                "0a14cc909792750b"
            ]
        ]
    },
    {
        "id": "7e627a62ba3a986b",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "0b7f7e36c9b309cf",
        "order": 19,
        "width": "0",
        "height": "0",
        "label": "Puerta de entrada (SENSOR MAGNETICO)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fbb9196b4de4a453",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "0b7f7e36c9b309cf",
        "order": 20,
        "width": "0",
        "height": "0",
        "label": "Puerta de habitación 1 (SENSOR MAGNETICO)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "20d435c70631d2fc",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "cb69e07ed1033f63",
        "name": "",
        "account": "990c808eb3798486",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 900,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "5c69115c91618156",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "cb69e07ed1033f63",
        "name": "WA cliente",
        "account": "990c808eb3798486",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 850,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "406831e306939e43",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 6",
        "func": "if (msg.payload == 1) {\n    var d = new Date();\n    var provincia = \"Lima\"\n    var distrito = \"SJL\"\n    var sitio = \"Hogar\"\n    var id\n\n    var day = d.getDate()\n    var month = d.getMonth()\n    month = month + 1;\n    var year = d.getFullYear()\n    var hours = d.getHours()\n    var minutes = d.getMinutes()\n    var seconds = d.getSeconds()\n\n    if (day <= 9)\n        day = \"0\" + day;\n    if (month <= 9)\n        month = \"0\" + month;\n    if (hours <= 9)\n        hours = \"0\" + hours;\n    if (minutes <= 9)\n        minutes = \"0\" + minutes;\n    if (seconds <= 9)\n        seconds = \"0\" + seconds;\n\n    var date = day + \"/\" + month + \"/\" + year\n    var time = hours + \":\" + minutes + \":\" + seconds\n\n    msg.payload =\n        \"IoT sensor magnetico\\n\" +\n        \"==========================================\\n\" +\n        \"ACTIVADO, LA PUERTA DE LA ENTRADA HA SIDO ABIERTA!!!\\n\" +\n        \"==========================================\\n\" +\n        \"Fecha: \" + date + \"\\n\" +\n        \"Hora: \" + time + \"\\n\" +\n        \"Provincia: \" + provincia + \"\\n\" +\n        \"Distrito: \" + distrito + \"\\n\" +\n        \"Sitio: \" + sitio + \"\\n\"\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "20d435c70631d2fc"
            ]
        ]
    },
    {
        "id": "2b9cf656b70e1c16",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 7",
        "func": "if (msg.payload == 1) {\n    var d = new Date();\n    var provincia = \"Lima\"\n    var distrito = \"SJL\"\n    var sitio = \"Hogar\"\n    var id\n\n    var day = d.getDate()\n    var month = d.getMonth()\n    month = month + 1;\n    var year = d.getFullYear()\n    var hours = d.getHours()\n    var minutes = d.getMinutes()\n    var seconds = d.getSeconds()\n\n    if (day <= 9)\n        day = \"0\" + day;\n    if (month <= 9)\n        month = \"0\" + month;\n    if (hours <= 9)\n        hours = \"0\" + hours;\n    if (minutes <= 9)\n        minutes = \"0\" + minutes;\n    if (seconds <= 9)\n        seconds = \"0\" + seconds;\n\n    var date = day + \"/\" + month + \"/\" + year\n    var time = hours + \":\" + minutes + \":\" + seconds\n\n    msg.payload =\n        \"IoT sensor magnetico\\n\" +\n        \"======================================\\n\" +\n        \"ACTIVADO, LA PUERTA DE LA ENTRADA HABITACION 1 HA \\n\"+\n        \"SIDO ABIERTA!!!\\n\" +\n        \"======================================\\n\" +\n        \"Fecha: \" + date + \"\\n\" +\n        \"Hora: \" + time + \"\\n\" +\n        \"Provincia: \" + provincia + \"\\n\" +\n        \"Distrito: \" + distrito + \"\\n\" +\n        \"Sitio: \" + sitio + \"\\n\"\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "5c69115c91618156"
            ]
        ]
    },
    {
        "id": "1cdf46798927d1c0",
        "type": "ui_gauge",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 19,
        "width": "2",
        "height": "3",
        "gtype": "gage",
        "title": "Luminosidad del ambiente",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#292929",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "d527f109740300f9",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 20,
        "width": "4",
        "height": "3",
        "label": "Luminosidad vs tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b4ca4fef4f8a958c",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 22,
        "width": "4",
        "height": "3",
        "label": "Humedad vs tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "03178388431cccfb",
        "type": "ui_gauge",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 21,
        "width": "2",
        "height": "3",
        "gtype": "wave",
        "title": "Humedad maceta 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "2be2b592790d563f",
        "type": "ui_chart",
        "z": "cb69e07ed1033f63",
        "name": "",
        "group": "624cdb54f883b70c",
        "order": 24,
        "width": "4",
        "height": "3",
        "label": "Distancia vs tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d980da34163ebf27",
        "type": "ui_switch",
        "z": "cb69e07ed1033f63",
        "name": "",
        "label": "Manual",
        "tooltip": "",
        "group": "0816e6b02afd5af5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1840,
        "y": 720,
        "wires": [
            [
                "d22abb196bbd773a"
            ]
        ]
    },
    {
        "id": "d22abb196bbd773a",
        "type": "mqtt out",
        "z": "cb69e07ed1033f63",
        "name": "",
        "topic": "esp82iot/manual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67ad7ca239733d03",
        "x": 2120,
        "y": 720,
        "wires": []
    },
    {
        "id": "3d3e41bb830fd339",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 14",
        "func": "var d = new Date();\nvar date = d.getFullYear()+\"/\"+(d.getMonth()+1)+\"/\"+d.getDate()+\" \"+d.getHours()+\"/\"+d.getMinutes()+\"/\"+d.getSeconds();\nmsg.payload = msg.payload+\";\"+date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 200,
        "wires": [
            [
                "1001c6f11b1f2a1f"
            ]
        ]
    },
    {
        "id": "1001c6f11b1f2a1f",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\Temperatura.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "297de050d0295a37"
            ]
        ]
    },
    {
        "id": "297de050d0295a37",
        "type": "debug",
        "z": "cb69e07ed1033f63",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 200,
        "wires": []
    },
    {
        "id": "17fc1daf8395fb94",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 15",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "eac8c0006226569f"
            ]
        ]
    },
    {
        "id": "eac8c0006226569f",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\humedad.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 360,
        "wires": [
            [
                "be3d9c01e7efd195"
            ]
        ]
    },
    {
        "id": "be3d9c01e7efd195",
        "type": "debug",
        "z": "cb69e07ed1033f63",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 360,
        "wires": []
    },
    {
        "id": "419ea4e090a7d9a4",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 16",
        "func": "if (msg.payload==2)\n    msg.payload=\"Activar motor de agua\"\nvar d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 500,
        "wires": [
            [
                "5865db722dbd06de"
            ]
        ]
    },
    {
        "id": "5865db722dbd06de",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\humedadsuelo.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "d545e45e51c01a00"
            ]
        ]
    },
    {
        "id": "d545e45e51c01a00",
        "type": "debug",
        "z": "cb69e07ed1033f63",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 500,
        "wires": []
    },
    {
        "id": "5943a6859f78996f",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\pir.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "b535b1ab0cfcad72"
            ]
        ]
    },
    {
        "id": "08c505b304f6bfb2",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 17",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 640,
        "wires": [
            [
                "5943a6859f78996f"
            ]
        ]
    },
    {
        "id": "b535b1ab0cfcad72",
        "type": "debug",
        "z": "cb69e07ed1033f63",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 640,
        "wires": []
    },
    {
        "id": "870af814b65e95b7",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 18",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 780,
        "wires": [
            [
                "6ab76dd136644f1e"
            ]
        ]
    },
    {
        "id": "6ab76dd136644f1e",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\luminosidad.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1100,
        "y": 780,
        "wires": [
            [
                "4614427b9680eceb"
            ]
        ]
    },
    {
        "id": "4614427b9680eceb",
        "type": "debug",
        "z": "cb69e07ed1033f63",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 780,
        "wires": []
    },
    {
        "id": "3cc38ca40c78f65d",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 19",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 920,
        "wires": [
            [
                "1f37c273ffed3e7b"
            ]
        ]
    },
    {
        "id": "1f37c273ffed3e7b",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\distancia.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "191e01f86718530a",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 20",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "ca1ed1a7ac690ac4"
            ]
        ]
    },
    {
        "id": "ca1ed1a7ac690ac4",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\puertaentrada.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1150,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a530280ffe8fccc7",
        "type": "file",
        "z": "cb69e07ed1033f63",
        "name": "",
        "filename": "D:\\DOCUMENTOS\\2023_CompuFisica\\ProyectoCF\\Proyecto-IoT-CF\\habitacion.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "0a14cc909792750b",
        "type": "function",
        "z": "cb69e07ed1033f63",
        "name": "function 21",
        "func": "var d = new Date();\nvar date = d.getFullYear() + \"/\" + (d.getMonth() + 1) + \"/\" + d.getDate() + \" \" + d.getHours() + \"/\" + d.getMinutes() + \"/\" + d.getSeconds();\nmsg.payload = msg.payload + \";\" + date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1200,
        "wires": [
            [
                "a530280ffe8fccc7"
            ]
        ]
    },
    {
        "id": "bd5035c6be6f2a46",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.231.187.97",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "624cdb54f883b70c",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "c64becea02cea741",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0816e6b02afd5af5",
        "type": "ui_group",
        "name": "Accionadores",
        "tab": "c64becea02cea741",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae543316542168ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.231.187.97",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b7f7e36c9b309cf",
        "type": "ui_group",
        "name": "Seguridad",
        "tab": "c64becea02cea741",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67ad7ca239733d03",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.231.187.97",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "990c808eb3798486",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "WA Cliente"
    },
    {
        "id": "c64becea02cea741",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]